*{
    font-size: 25px;
    text-align: center;
    
}

/* text decoration Styles */
.overline{
    text-decoration: overline blue solid 8px ;
}
.linethrough{
    text-decoration: line-through greenyellow solid ;
}
.underline{
    text-decoration: underline teal solid;
}
.overunderline{
    text-decoration: overline underline yellow solid;
}

/* Text Underline Styles */

.solid{
    text-decoration: underline solid;
}
.double{
    text-decoration: underline double;
}
.dott{
    text-decoration:underline dotted;
}

/* Text Decoration Thickness Styles */
.length{
    text-decoration:underline solid 10px;
}
.per{
    text-decoration: underline solid 150%;
}
.auto{
    text-decoration: underline solid auto;
}

/* Letter Word Spacing Styles */
.letter{
    letter-spacing: 1em;
}
.word{
    word-spacing: 1em;
}
.height{
    line-height: 4;
    background-color: aqua;
}
.indent{
    text-indent: 200px;
}

/* Text Transform Styles */ 
#capital{
    text-transform: capitalize;
}
#uppercase{
    text-transform: uppercase;
}
#lowercase{
    text-transform: lowercase;
}

/* Text Shadow Styles */
.textshadow h1{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.textshadow h2{
    color: red;
    text-shadow: 2px 2px;
}
.textshadow h3{
    color: green;
    text-shadow: 2px 2px 4px #000000;
}
.textshadow h4{
    text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff;
}
.textshadow h5{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/* Text Align Styles */

div .list{
    text-align: center;
}
ul ol .mylist{
    display: inline-block;
    text-align: left;+
}
.list ol li{
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
}
.list ul li{
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
}
.list ol{
    background: #3399ff;
    padding: 20px;
}
.list ul{
    background: #3399ff;
    padding: 20px;
}
